<div class="container">
  <div style="text-align: center">
    <h2 style="margin-top: 20px">Add a New Friend</h2>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <form style="margin-top: 20px;" [formGroup]="FriendsForm">
        <div class="form-group row">
          <div class="col-2">
            <label>Nama</label>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Input Name"
              formControlName="name"
              #name
            />
            <div
              *ngIf="
                FriendsForm.controls['name'].touched &&
                FriendsForm.controls['name'].invalid
              "
              class="alert alert-danger"
            >
              <span
                *ngIf="FriendsForm.controls['name'].errors.required"
                >Name is Required</span
              >
              <span
                *ngIf="FriendsForm.controls['name'].errors.minlength"
                >Name should minimum
                {{
                  FriendsForm.controls["name"].errors.minlength.requiredLength
                }}
                characters.</span
              >
              <span
                *ngIf="FriendsForm.controls['name'].errors.maxlength"
                >Name shouldn't more than
                {{
                  FriendsForm.controls["name"].errors.maxlength.requiredLength
                }}
                characters.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <label>Email</label>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Input Email"
              formControlName="email"
              #email
            />
            <div
              *ngIf="
                FriendsForm.controls['email'].touched &&
                FriendsForm.controls['email'].invalid
              "
              class="alert alert-danger"
            >
              <span *ngIf="FriendsForm.controls['email'].errors.email"
                >Email is invalid.</span
              >
              <span *ngIf="FriendsForm.controls['email'].errors.required"
                >Email is Required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <label>Contact No.</label>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Input Contact No"
              formControlName="contact"
              #contact
            />
            <div
              *ngIf="
                FriendsForm.controls['contact'].touched &&
                FriendsForm.controls['contact'].invalid
              "
              class="alert alert-danger"
            >
              <span *ngIf="FriendsForm.controls['contact'].errors.required"
                >Contact No is Required.</span
              >
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success"
            style="margin-top: 10px;"
            (click)="AddFriend(name.value, email.value, contact.value)"
          >
            Add Friend
          </button>
        </div>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
  <div style="text-align: center">
    <h2>My Friends</h2>
  </div>
  <div class="d-flex justify-content-center">
    <form class="form-inline">
      <div class="form-group">
        <label>Search : </label>
        <input type="search" [(ngModel)]="SearchBar.name" name="Search" class="form-control ml-3" />
      </div>
    </form>
  </div>
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
          </tr>
        </thead>
        <tbody *ngIf="FriendsData">
          <tr
            *ngFor="let friend of FriendsData | filterBy: SearchBar; let i = index"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ friend.name }}</td>
            <td>{{ friend.email }}</td>
            <td>{{ friend.contact }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
