<div class="container">
  <div style="text-align: center">
    <h2 style="margin-top: 20px">Contact Me</h2>
  </div>
  <form [formGroup]="ContactForm" style="margin-top: 20px;">
    <div class="form-group">
      <label>Your Name : </label>
      <input
        type="text"
        class="form-control"
        placeholder="Masukkan Nama"
        formControlName="name"
        #name
      />
      <div *ngIf="ContactForm.controls['name'].touched && ContactForm.controls['name'].invalid" class="alert alert-danger">
        <span>Name is invalid.</span> 
      </div>
    </div>
    <div class="form-group">
      <label>Your Email : </label>
      <input
        type="text"
        class="form-control"
        placeholder="Masukkan Email"
        formControlName="email"
        #email
      />
        <div *ngIf="ContactForm.controls['email'].touched && ContactForm.controls['email'].invalid" class="alert alert-danger">
          <span>Email is invalid.</span> 
        </div>
    </div>
    <div class="form-group">
      <label>Your Message : </label>
      <textarea
        class="form-control"
        rows="3"
        formControlName="message"
        #message
      >
      </textarea>
        <div *ngIf="ContactForm.controls['message'].touched && ContactForm.controls['message'].invalid" class="alert alert-danger">
          <span>Message is invalid.</span> 
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="AddContact(name.value, email.value, message.value)" [disabled]="!ContactForm.valid" >
      Submit
    </button>
  </form>

  <br>

  <h3>Your Data</h3>
    <div *ngIf="ContactData" class="list-group">
    <a *ngFor = "let contact of ContactData" style="border: 1px solid silver; border-radius: 5px; padding: 10px; margin-top: 10px; margin-bottom: 30px; width: 300px">
      <p>Nama : {{contact.name}}</p>
      <p>Email : {{contact.email}}</p>
      <p>Message : {{contact.message}}</p>
    </a>
    </div>
</div>
